In [1]:
hairstyles = ["bouffant", "pixie", "dreadlocks", "crew", "bowl", "bob", "mohawk", "flattop"]
prices = [30, 25, 40, 20, 20, 35, 50, 35]
last_week = [2, 3, 5, 8, 4, 4, 6, 2]

In [5]:
#총 가격 초기화
total_price = 0
for price in prices:
    total_price += price

In [23]:
#평균가격 계산
average_price = total_price / len(prices)

In [27]:
#평균가격 출력
print("Average price is:",average_price)

Average price is: 31.875

예상출력 비교

Average price is  31.875

In [37]:
#새로운 가격 목록 생성
new_prices = [price -5 for price in prices]
print(new_prices)

[25, 20, 35, 15, 15, 30, 45, 30]

In [41]:
#지난주 수익 계산
total_revenue = 0
for i in range(len(hairstyles)):
    total_revenue += prices[i] * last_week[i]

In [47]:
#지난주 수익
print("Total revenue is:", total_revenue)

Total revenue is: 1085

In [49]:
#일일 수익
average_daily_revenue = total_revenue / 7
print("Average daily revennu is", average_daily_revenue)

Average daily revennu is 155.0

In [61]:
#30달러 이하 헤어컷
cuts_under_30 = [hairstyles[i] for i in range(len(new_prices)) if new_prices[i] < 30]
print(cuts_under_30)

['bouffant', 'pixie', 'crew', 'bowl']